.header-avatar {
    display: none !important;
    position: absolute;
    top: 0;
    left: 0;
    height: 0px !important;
    text-align: center;
    font-size: 0px;
    color: rgba(0,0,0,0);
    overflow: hidden;
    vertical-align: top;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    background: none !important;
    background-size: 100% auto;
}

.info {
    display: none !important;
}
