.header-avatar {
    display: none !important;
    position: absolute;
    top: 0;
    left: 0;
    height: 0px !important;
    text-align: center;
    font-size: 0px;
    color: rgba(0,0,0,0);
    overflow: hidden;
    vertical-align: top;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    background: none !important;
    background-size: 100% auto;
}

.info {
    display: none !important;
}

.why-iframe {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    width: 308px;
    height: 480px;
    background: #f4f3f1;
    border: 1px solid #cccccc;
    border-top-width: 0;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.why {
    text-align: center;
}
